body {
    font-family: "Segoe UI Light";
    font-size: medium;
    display: flex;
    justify-content: space-around;
    min-height: 100vh; /* Ensure the body takes up at least the full viewport height */
    margin: 0; /* Remove default body margin */
    box-sizing: border-box;
    background-color: #1f1f1f;
    color: #bdbdbd;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
}

.input-container {
    display: flex;
    padding: 10px;
    max-height: 2rem;
    justify-content: flex-start;
    align-content: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #00000000;
    /* padding: 3px; */
    padding-right: 2px;
    border-bottom: 2px solid black;
}

.input-container div,button{
    font-size: inherit;
    /* padding: 2px; */
    border: 2px solid #000000;
    margin-right: 1em;
    max-height: 1.5rem;
    min-width: 6em;
    display: inline-flex;
    box-sizing: content-box;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: #262626;
}

.container > h1{
    padding: 0 0 0 10px;
}

#listContainer{
    /* padding: 0 0 0 10px; */
}

.init.empty{
    opacity:0% !important;
}

.listItem:focus-within, .listItem:hover{
    /*box-shadow:#7fffd482 0px 1px 4px;*/
    border-left-color: #7fffd485;
    border-left-width: 2px;
    z-index: 4 !important; 
    opacity: 100% !important;
    box-shadow:#0000007a 0px 3px 8px;
    color:#ffffff;
    margin-left: 2px;
}

.input-container div:hover, .input-container div:focus, button:hover{
    /*box-shadow:#7fffd482 0px 1px 4px;*/
    border-left-width: 2px;
    z-index: 4 !important; 
    opacity: 100% !important;
    box-shadow:#0000007a 0px 3px 8px;
    color:#ffffff;
}

div {
    /* position:  relative; */
}

#reminderTime:not(:empty):after, #reminderTime:empty:focus:after {
    content: " minutes";
    opacity: 50%;
    font-size: small;
    font-style: italic;
    padding: 5px;
}

#reminderTime:empty:after {
    content: " MINUTES";
    opacity: 100%;
    font-size: medium;
    font-style: italic;
    padding: 0px;
}

#reminderTime:empty{
    background-color:#bf1515;
    color:white;
    padding:5px;
    
}

#reminderTime:focus{
    outline: none;
}

#reminderTime:empty:focus{
    background-color:#ffae22;
    color: #000000;

}

#toggleReminders {
    background-color: #2a612d;
    color: white;
    /* border: none; */
    cursor: pointer;
    border-radius: 10px 0px 0px 10px;
    border-left-width: 2px;
    border-right-width: 5px;
    transition: border-width ease-out 0.1s;
}

#toggleReminders.enabled {
    background-color: hsl(30.52deg 79.04% 54.59%);
    border-left-width: 5px;
    border-right-width: 2px;
    color: black;
}

.listItem.checked{
    opacity:100%;
    color:#575757;
    border-bottom: 1px dashed #000000e0;
    margin: 0px 0px 0px 1em;
    /* padding: 2px; */
    /* translate: 0 1px; */
    background-color:#1a1a1a;
    z-index:0;
    /* zoom: 90%; */
}

.checked > .listCheck{
    /* background-color: #000000; */
    box-shadow: none;
    border: none;
    scale: 100%;
    color: inherit;
    font-weight:lighter;
    font-style:italic
}

.checked > .listText{
    text-decoration: line-through wavy 2px #000000;
    font-style:italic;
    padding: 1px 0.5rem;
}

.checked > .listEnd{
    max-height: inherit;
    /* padding: 0px; */
}

.listItem{
    /* margin: 2px 0px 0px 0px; */
    margin: 0 0 0 10px;
    border-left: 1px solid #000000;
    border-bottom: 2px solid #00000033;
    background-color:#272727;
    display: flex;
    transition: margin 0.1s linear, text-shadow 1s 0s linear(0.0 0%, 0.27 10.54%, 1 14.27%, 1.12 65.35%, 1.18 106.02%), max-height 0.2s ease-out, opacity 0.1s cubic-bezier(0.4, 0, 1, 1);
    z-index:2;
    justify-items: stretch;
    align-items: center;
    flex-wrap: nowrap;
    overflow: hidden;
    max-height: 250px;
    box-sizing: content-box;
    border-top-left-radius: 10px 10px;
    border-bottom-left-radius: 10px 10px;
}

 .listText:focus {
    outline:none;
    opacity: 100%;
    border-bottom: 5px #ffffff;
     background-color: black;
}

.listItem.empty, .listItem:has(.listText:empty){
    opacity: 50%;
    font-style: italic;
}

.listItem.empty > .listCheck, .listItem:has(.listText:empty) > .listCheck{
    opacity:0%;
    
}

.listText:not(.listText:focus):empty:before{
    content: "...write stuff here";
    opacity: 50%;
    font-style: italic;
}

.listItem:focus-within{
    opacity: 100% !important;
    z-index: 100;
    border-left-color: #7fffd485;
}

.listText{
    /* display: inline; */
    margin: 0 0.5rem  0 0.5em;
    width: 100%;
    height: inherit;
    overflow-wrap: anywhere;
    animation: text-decoration 0.9s linear;
    padding: .5rem .5rem;
    /* align-self: stretch; */
    border-bottom-left-radius: 10px;
}

.listItem:not(:has(.listText:empty)) > div.listCheck:hover{
    background-color:#7fffd4;
    cursor:pointer;
    color:black;
}

.listItem:not(.checked):not(.empty):has(div.listCheck:hover) > .listText{
     text-shadow:0px 0px 4px #7fffd4;
}

.listItem.checked:hover > .listText, .listText:focus{
    text-decoration:none;
}


.listItem.checked:has(div.listCheck:hover) > .listCheck{
    color:#7fffd4;
    background-color:transparent;
}

.listItem:not(:has(.listText:empty)) > div.listCheck:active{
    box-shadow: 0px 0px 20px #7fffd4;
    background-color:#000000;
    
}

.listCheck{
    width: 1.1rem;
    height: 1.1rem;
    /* max-width: .75rem; */
    background-color:#00000000;
    display: flex;
    margin-left: 0.5em;
    border: #000000 2px solid;
    flex-shrink: 0;
    box-shadow: 0px 0px 1px #000000;
    transition: background-color 0.1s linear;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    color: #00000000;
    overflow: hidden;
    /* align-content: center; */
    /* max-height: .75rem; */
    font-weight: bolder;
}

.listX {
    padding: 0px;
    margin: 2px 0px 1px 3px;
    color: #00000000;
    width: min-content;
    line-height: 0.5rem;
}

.listItem:not(.empty):hover .listX {
    color: #000000;
}

.listItem:not(.empty):hover .listX:hover {
    opacity: 100%;
    cursor:pointer;
    text-shadow:0px 0px 4px #7fffd4;
    color: white;
}

.listInfo:empty{
    padding: 0px;
    margin: 0px;
    max-width: 0px;
    overflow-wrap: anywhere;
    font-size:small;
    
}

.listInfo{
    font-size: 9pt;
    margin: 2px 0px 1px 3px;
    width: max-content;
    height: max-content;
    text-wrap: nowrap;
    color:#515151;
    letter-spacing: -.5px;
}

.listEnd{
    display: flex;
    height: 1rem;
    padding: 2px;
    align-self: stretch;
    flex-direction: row-reverse;
    width: max-content;
    font-style: initial;
    line-height: 0.5rem;
}


.container {
    /* Add styles for the container div */
    width: 80%; /* Adjust the width as needed */
    max-width: 600px; /* Set a maximum width */
    margin: 2em;
    margin-top: 0;
    height: 100vh;
    background-color: hsl(0deg 0% 22.31%);
    margin-bottom: 0;
    background-repeat: no-repeat;
    border-left: black solid 4px;
    padding: 0px 0px 0px 0px;
}


